ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none; }

a, a:focus, a:hover, a:active {
  color: inherit; }

input:active, input:focus {
  outline: none; }

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  opacity: .2; }

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  opacity: .2; }

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  opacity: .2; }

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  opacity: .2; }

textarea:focus, textarea:active {
  outline: none; }

.input--custom::-webkit-input-placeholder {
  opacity: 1; }

.input--custom::-moz-placeholder {
  opacity: 1; }

.input--custom:-ms-input-placeholder {
  opacity: 1; }

.input--custom:-moz-placeholder {
  opacity: 1; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.h1, .h2, .h3, .h4, .h5, .h6, p {
  margin: 0;
  padding: 0; }

a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none; }

.text--big {
  font-size: 20px; }

.text--reg {
  font-size: 18px; }

.text--sm {
  font-size: 16px; }

.text--xs {
  font-size: 12px; }

.fssz0 {
  font-size: 0; }

.button--cream {
  border: 1px solid #e9e9ea !important;
  color: #000 !important; }
  .button--cream i {
    margin-right: 10px; }

.button--blue {
  color: #fff !important; }

.button--green {
  color: #fff !important; }

.button--arrow-right {
  padding-right: 15px; }
  .button--arrow-right i {
    margin-left: 30px; }

.button--submit {
  margin-bottom: 0;
  position: absolute;
  right: 4px;
  top: 4px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: 32px;
  line-height: 26px;
  width: 160px; }
  .button--submit input {
    border: none;
    background: none;
    color: #fff; }

.input--custom {
  width: 100%;
  height: 40px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 170px;
  resize: none;
  background: transparent; }

.pt--big {
  padding-top: 110px; }

.pt--reg {
  padding-top: 50px; }

.pt--sm {
  padding-top: 20px; }

.pt--xs {
  padding-top: 10px; }

.pb--big {
  padding-bottom: 110px; }

.pb--reg {
  padding-bottom: 50px; }

.pb--sm {
  padding-bottom: 20px; }

.pb--xs {
  padding-bottom: 10px; }

.pl--big {
  padding-left: 110px; }

.pl--reg {
  padding-left: 50px; }

.pl--sm {
  padding-left: 20px; }

.pl--xs {
  padding-left: 10px; }

.pr--big {
  padding-right: 110px; }

.pr--reg {
  padding-right: 50px; }

.pr--sm {
  padding-right: 20px; }

.pr--xs {
  padding-right: 10px; }

.mb--big {
  margin-bottom: 110px; }

.mb--reg {
  margin-bottom: 50px; }

.mb--sm {
  margin-bottom: 20px; }

.mb--xs {
  margin-bottom: 10px; }

.mt--big {
  margin-top: 110px; }

.mt--reg {
  margin-top: 50px; }

.mt--sm {
  margin-top: 20px; }

.mt--xs {
  margin-top: 10px; }

.mr--big {
  margin-right: 110px; }

.mr--reg {
  margin-right: 50px; }

.mr--sm {
  margin-right: 20px; }

.mr--xs {
  margin-right: 10px; }

.ml--big {
  margin-left: 110px; }

.ml--reg {
  margin-left: 50px; }

.ml--sm {
  margin-left: 20px; }

.ml--xs {
  margin-left: 10px; }

.white {
  color: #fff; }

.black {
  color: #000; }

.text {
  color: #8c8f94; }

.lato--reg {
  font-family: lato--reg; }

.lato--lt {
  font-family: lato--lt; }

.varela--reg {
  font-family: varela--reg; }

.dur--big {
  -webkit-transition: 1.2s ease-in-out;
  transition: 1.2s ease-in-out; }

.dur--reg {
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out; }

.dur--sm {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

.animated--scale {
  -webkit-transform: scale(0.6, 0.6);
      -ms-transform: scale(0.6, 0.6);
          transform: scale(0.6, 0.6); }

.animated--fade {
  opacity: 0; }

.animated--from-left {
  -webkit-transform: translate(-100px, 0);
      -ms-transform: translate(-100px, 0);
          transform: translate(-100px, 0); }

.animated--from-right {
  -webkit-transform: translate(100px, 0);
      -ms-transform: translate(100px, 0);
          transform: translate(100px, 0); }

.animated--from-bottom {
  -webkit-transform: translate(0px, 50px);
      -ms-transform: translate(0px, 50px);
          transform: translate(0px, 50px); }

.animated.in {
  -webkit-transform: translate(0, 0) scale(1, 1);
      -ms-transform: translate(0, 0) scale(1, 1);
          transform: translate(0, 0) scale(1, 1);
  opacity: 1; }

button {
  border: none;
  background: none; }

html {
  height: 100%; }

body {
  min-width: 290px;
  min-height: 100%;
  position: relative;
  color: #8c8f94;
  font-size: 16px;
  font-family: lato--reg; }

*:focus, *:active {
  outline: none; }

.of [class*='__img'] {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%; }

a {
  text-decoration: none; }

.radius {
  -webkit-border-radius: 25px;
          border-radius: 25px; }

.icon {
  display: inline-block; }

.title {
  color: #000;
  font-family: varela--reg; }

.container--big {
  width: 85%;
  max-width: 1600px; }

.container--right {
  float: right; }

.border {
  border-bottom: 1px solid #e9e9ea; }

.background--cream {
  background: #e9e9ea; }

.text-uppercase {
  text-transform: uppercase; }

.stripe {
  width: 50px;
  display: block;
  height: 2px;
  margin-right: auto;
  margin-left: auto; }
  .stripe--blue {
    background: #267df4; }

.input-container {
  position: relative; }

.b-rating {
  font-size: 18px;
  color: #f2bc3b; }
  .b-rating i {
    margin: 0 4px; }

.b-dots {
  text-align: center; }
  .b-dots-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.7);
    opacity: 1;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out; }
  .b-dots li {
    display: inline-block;
    margin: 1% 5%; }
  .b-dots-item {
    width: 60px;
    height: 60px;
    display: block;
    position: relative;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out; }
    .b-dots-item--active {
      -webkit-transform: scale(1.5, 1.5);
          -ms-transform: scale(1.5, 1.5);
              transform: scale(1.5, 1.5); }
      .b-dots-item--active .b-dots-overlay {
        opacity: 0; }
      .b-dots-item--active img {
        -webkit-box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.1);
                box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.1); }
    .b-dots-item img {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out; }

.b-arrow {
  position: absolute;
  font-size: 48px;
  top: 24px; }
  .b-arrow--prev {
    left: 0; }
  .b-arrow--next {
    right: 0; }

.b-controls {
  position: relative; }

.link--underline {
  color: #267df4;
  text-decoration: underline; }

.b-video {
  width: 100%;
  height: 100%;
  display: block; }

.b-video-modal .close-button {
  display: none; }

@media all and (max-width: 1023px) {
  .text--big {
    font-size: 18px; }
  .text--reg {
    font-size: 16px; }
  .text--sm {
    font-size: 14px; }
  .text--xs {
    font-size: 12px; }
  .pt--big {
    padding-top: 60px; }
  .pt--reg {
    padding-top: 25px; }
  .pt--sm {
    padding-top: 15px; }
  .pt--xs {
    padding-top: 10px; }
  .pb--big {
    padding-bottom: 60px; }
  .pb--reg {
    padding-bottom: 25px; }
  .pb--sm {
    padding-bottom: 15px; }
  .pb--xs {
    padding-bottom: 10px; }
  .pl--big {
    padding-left: 60px; }
  .pl--reg {
    padding-left: 25px; }
  .pl--sm {
    padding-left: 15px; }
  .pl--xs {
    padding-left: 10px; }
  .pr--big {
    padding-right: 60px; }
  .pr--reg {
    padding-right: 25px; }
  .pr--sm {
    padding-right: 15px; }
  .pr--xs {
    padding-right: 10px; }
  .mb--big {
    margin-bottom: 60px; }
  .mb--reg {
    margin-bottom: 25px; }
  .mb--sm {
    margin-bottom: 15px; }
  .mb--xs {
    margin-bottom: 10px; }
  .mt--big {
    margin-top: 60px; }
  .mt--reg {
    margin-top: 25px; }
  .mt--sm {
    margin-top: 15px; }
  .mt--xs {
    margin-top: 10px; }
  .mr--big {
    margin-right: 60px; }
  .mr--reg {
    margin-right: 25px; }
  .mr--sm {
    margin-right: 15px; }
  .mr--xs {
    margin-right: 10px; }
  .ml--big {
    margin-left: 60px; }
  .ml--reg {
    margin-left: 25px; }
  .ml--sm {
    margin-left: 15px; }
  .ml--xs {
    margin-left: 10px; } }

@media all and (max-width: 639px) {
  .text--big {
    font-size: 14px; }
  .text--reg {
    font-size: 14px; }
  .text--sm {
    font-size: 13px; }
  .text--xs {
    font-size: 11px; }
  .container--big {
    width: 100%; }
  .container--right {
    float: none; }
  .button--blue i {
    margin-left: 10px; }
  .button--submit {
    position: relative;
    right: 0;
    top: 0; }
  .b-dots-item {
    width: 40px;
    height: 40px; }
  .b-arrow {
    top: 0; }
  .b-video-modal .close-button {
    display: block;
    z-index: 1; } }

.b-header-content {
  padding: 20px 0; }

@-webkit-keyframes header {
  0% {
    top: -20%; }
  100% {
    top: 0; } }

@keyframes header {
  0% {
    top: -20%; }
  100% {
    top: 0; } }

.b-header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out; }
  .b-header--fixed {
    position: fixed;
    -webkit-animation: header 1s ease-in-out 1;
            animation: header 1s ease-in-out 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    background: #fff;
    z-index: 1; }
  .b-header-logo {
    text-align: center; }
  .b-header-right {
    text-align: right; }

.b-header-menu {
  height: 42px;
  line-height: 42px; }
  .b-header-menu__item {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top; }

.b-header-item-container {
  height: 100%; }

@media all and (max-width: 1023px) {
  .b-header-menu__item {
    display: none; }
  .b-header-logo {
    text-align: right; } }

.b-top-menu {
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  height: 100%;
  width: 270px;
  padding: 10px 15px;
  padding-top: 50px;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  z-index: 5;
  overflow: auto;
  color: #000;
  text-align: center; }
  .b-top-menu--active {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .b-top-menu__item {
    display: block;
    margin: 15px 0;
    padding: 15px 5px; }
  .b-top-menu__close {
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 48px; }
  .b-top-menu__button {
    display: block;
    float: left;
    font-size: 36px;
    padding-right: 15px; }

.b-top {
  overflow: hidden;
  background: url(../img/b-top-back.jpg) no-repeat;
  background-size: cover; }
  .b-top-text__p {
    width: 80%;
    margin-right: auto;
    margin-left: auto; }
  .b-top-img {
    overflow: hidden;
    text-align: center;
    max-width: 40%;
    margin-right: auto;
    margin-left: auto; }
    .b-top-img__img {
      position: relative;
      top: 100%;
      margin-bottom: -65%; }

.b-features-item-container:nth-of-type(1) {
  padding-right: 5%; }

.b-features-item-container:nth-of-type(2) {
  padding-left: 5%; }

.b-features {
  overflow: hidden; }

@media all and (max-width: 639px) {
  .b-features-item-container {
    padding-top: 20px;
    padding-bottom: 20px; }
    .b-features-item-container:nth-of-type(1) {
      padding-right: 7.5px; }
    .b-features-item-container:nth-of-type(2) {
      padding-left: 7.5px; } }

.b-protect-img {
  width: 70%;
  margin-right: -15%; }
  .b-protect-img__img {
    position: relative;
    right: 25%;
    -webkit-transform: translate(0, 10%);
        -ms-transform: translate(0, 10%);
            transform: translate(0, 10%); }

.b-protect-text {
  width: 30%; }
  .b-protect-text__title {
    width: 70%; }

.b-protect-img, .b-protect-text {
  display: inline-block;
  vertical-align: middle; }

.b-protect {
  font-size: 0;
  overflow: hidden; }
  .b-protect .button:first-of-type {
    margin-right: 15px; }

@media all and (max-width: 1023px) {
  .b-protect-text {
    width: 40%; }
    .b-protect-text__title {
      width: 100%; }
  .b-protect-img {
    width: 60%;
    margin-right: -10%; } }

@media all and (max-width: 639px) {
  .b-protect-img {
    width: 50%; }
  .b-protect-text {
    width: 50%; } }

.b-partners-text {
  padding-left: 30px;
  margin-right: -10%;
  width: 40%; }
  .b-partners-text__partners {
    color: #000;
    text-transform: uppercase;
    display: block;
    font-size: 12px;
    margin-bottom: 20px; }

.b-partners-img {
  width: 70%; }
  .b-partners-img__img {
    position: relative;
    left: 25%; }

.b-partners {
  font-size: 0;
  overflow: hidden; }

.b-partners-links__item {
  display: inline-block;
  margin: 5px 13px; }

.b-partners-img, .b-partners-text {
  display: inline-block;
  vertical-align: middle; }

@media all and (max-width: 1023px) {
  .b-partners-text {
    width: 40%; }
  .b-partners-img {
    width: 60%; }
    .b-partners-img__img {
      left: 30%; } }

@media all and (max-width: 639px) {
  .b-partners-text {
    padding-left: 7.5px;
    width: 50%; }
  .b-partners-img {
    width: 50%; } }

.b-interface-img {
  margin-left: -60px;
  margin-right: -60px;
  font-size: 0; }
  .b-interface-img__img {
    width: 100%;
    max-width: none;
    -webkit-box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.1); }

.b-interface {
  overflow: hidden; }

.b-interface-item-container {
  display: inline-block;
  vertical-align: middle;
  padding: 15px;
  width: 20%; }
  .b-interface-item-container:nth-of-type(3) .b-interface-img__img {
    -webkit-box-shadow: none;
            box-shadow: none; }

@media all and (max-width: 1023px) {
  .b-interface-img {
    margin-right: -30px;
    margin-left: -30px; } }

.b-download-form-container {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  float: none !important; }

.b-download__span {
  display: block; }

@media all and (max-width: 1023px) {
  .b-download-form-container {
    width: 100%; } }

.b-testimonials-slide {
  width: 650px;
  margin-right: auto;
  margin-left: auto; }

.b-testimonials-controls {
  margin-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px; }

.b-testimonials-item__title {
  font-family: lato--lt;
  color: #000; }

.b-testimonials-item__name {
  color: #000;
  text-transform: uppercase; }

@media all and (max-width: 1023px) {
  .b-testimonials-slide {
    width: 100%; } }

.b-plan-tabs {
  border: 1px solid #8c8f94;
  padding: 5px 15px;
  margin-top: 15px;
  width: 260px;
  height: 48px;
  line-height: 34px;
  position: relative; }
  .b-plan-tabs__indicator {
    position: absolute;
    left: 4px;
    top: 3px;
    height: 40px;
    background: #fff;
    -webkit-border-radius: 25px;
            border-radius: 25px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1); }
  .b-plan-tabs__item {
    display: inline-block;
    width: 50%;
    text-align: center;
    position: relative; }
    .b-plan-tabs__item--active {
      color: #000; }

.b-plan-list {
  color: #000; }
  .b-plan-list i {
    color: #6fc754;
    margin-right: 6px; }
  .b-plan-list__item {
    margin: 15px 0; }

@-webkit-keyframes tabsContent--out {
  0% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }
  100% {
    opacity: 0;
    -webkit-transform: translate(-15%, 0);
            transform: translate(-15%, 0); } }

@keyframes tabsContent--out {
  0% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }
  100% {
    opacity: 0;
    -webkit-transform: translate(-15%, 0);
            transform: translate(-15%, 0); } }

@-webkit-keyframes tabsContent--in {
  0% {
    opacity: 0;
    -webkit-transform: translate(15%, 0);
            transform: translate(15%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes tabsContent--in {
  0% {
    opacity: 0;
    -webkit-transform: translate(15%, 0);
            transform: translate(15%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.b-plan-tabs-content {
  font-size: 0;
  -webkit-animation: tabsContent--out .5s ease-in-out 1;
          animation: tabsContent--out .5s ease-in-out 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  .b-plan-tabs-content--active {
    -webkit-animation: tabsContent--in .5s ease-in-out 1;
            animation: tabsContent--in .5s ease-in-out 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }

.b-plan-content-item {
  background: #ebebed;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  text-align: center;
  padding: 30px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  margin-left: -7px;
  margin-right: -7px;
  position: relative;
  z-index: 1; }
  .b-plan-content-item--active {
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    background: #fff; }
    .b-plan-content-item--active .button.blue {
      background: #267df4; }

.b-plan-left {
  padding-right: 50px; }

.b-plan-right {
  padding-left: 50px;
  text-align: center; }

.b-plan {
  overflow: hidden; }

@media all and (max-width: 1023px) {
  .b-plan-left {
    text-align: center;
    margin-bottom: 25px;
    padding-right: 0; }
  .b-plan-right {
    padding-left: 0; }
  .b-plan-tabs {
    margin-left: auto;
    margin-right: auto; }
  .b-plan-content-item {
    width: 50%;
    max-width: 250px; } }

@media all and (max-width: 639px) {
  .b-plan-content-item {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px; }
    .b-plan-content-item--active {
      padding-top: 30px;
      padding-bottom: 30px; } }

.b-subscribe-form-container {
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.b-socials__item {
  font-size: 18px;
  display: inline-block;
  margin: 5px; }

.b-info-item__title {
  color: #000;
  display: block;
  text-transform: uppercase;
  margin-bottom: 9px;
  font-size: 13px; }

.b-info-item__item {
  display: block;
  margin-bottom: 9px;
  font-size: 16px; }

.b-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; }

@media all and (max-width: 1023px) {
  .b-info-item {
    text-align: center;
    margin: 10px auto; } }
